.side_nav_filters{
	top:12px;
}

#table-container{
	width: 100%;
}

.my-table{
	
}

#table-container-parent{
	position: relative;
	clear: both;
}


.homeTable{
	overflow: scroll;
	height: 200px;
	width: 100%;
	position: relative;
}

.tableWidth{
	width: 800px;
}

.fixedTableDiv{
	position: absolute;
	top: 0px;
	left: 10px;
}