</<!DOCTYPE html>
<html ng-app="demo">
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="angular.js"></script>
	<script src="ui-bootstrap-tpls-0.12.1.js"></script>
  <script src="fixedHeaderFooterDir.js"></script>
  <script src="demo.js"></script>
  <link href="bootstrap.css" rel="stylesheet">
  <link href="custom.css" rel="stylesheet">
</head>
<body ng-controller="demoCtrlOne">
	<nav class="navbar navbar-default navbar-fixed-top" fixed-header-footer-top="fixedHeaderFooterTopIds">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Brand</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
					<li><a href="#">Link</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li class="divider"></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
				</ul>
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
            <input type="number" class="form-control" placeholder="height" ng-model="tableOne.height">height</input>
            <input type="number" class="form-control" placeholder="width" ng-model="tableOne.width">width</input>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
         <li><a href="#">Link</a></li>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
           <li><a href="#">Action</a></li>
           <li><a href="#">Another action</a></li>
           <li><a href="#">Something else here</a></li>
           <li class="divider"></li>
           <li><a href="#">Separated link</a></li>
         </ul>
       </li>
     </ul>
   </div><!-- /.navbar-collapse -->
 </div><!-- /.container-fluid -->
</nav>



<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <form>
        <div class="form-group">
          <label >table one HEIGHT setting</label>
          <input type="number" class="form-control" placeholder="height" ng-model="tableOne.height">
          <label >table one WIDTH setting</label>
          <input type="number" class="form-control" placeholder="width" ng-model="tableOne.width">
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <ul>
        <li ng-repeat="(key, value) in cols">
          <input type="checkbox" ng-model="value.isSelected">{{key}}</input>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <tablecontainer>
        <form>
          <div class="form-group">
            <label >table one HEIGHT setting</label>
            <input type="number" class="form-control" placeholder="height" ng-model="tableOne.height">
            <label >table one WIDTH setting</label>
            <input type="number" class="form-control" placeholder="width" ng-model="tableOne.width">
          </div>
        </form>
        <div ng-style="{'height':addPx(tableOne.height),'width': addPx(tableOne.width)}">
          <table class="table table-striped table-bordered table-condensed table-hover font-size-custom table-no-bottom-margin" fixed-header-footer="fixedHeaderFooterOne">
            <thead class="table-bg-color">
              <tr>
                <th ng-show="cols['id'].isSelected">id</th>
                <th ng-show="cols['balance'].isSelected">balance</th>
                <th ng-show="cols['age'].isSelected">age</th>
                <th ng-show="cols['name'].isSelected">name</th>
                <th ng-show="cols['company'].isSelected">company</th>
                <th ng-show="cols['email'].isSelected">email</th>
                <th ng-show="cols['friends'].isSelected">friends</th>
                <th ng-show="cols['address'].isSelected">address</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(key, value) in complexTableOne">
                <td scope="row" ng-show="cols['id'].isSelected">{{value.id}}</td>
                <td ng-show="cols['balance'].isSelected">{{value.balance}}</td>
                <td ng-show="cols['age'].isSelected">{{value.age}}</td>
                <td ng-show="cols['name'].isSelected">{{value.name}}</td>
                <td ng-show="cols['company'].isSelected">{{value.company}}</td>
                <td ng-show="cols['email'].isSelected">{{value.email}}</td>
                <td ng-show="cols['friends'].isSelected">
                  <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                      Frields<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li ng-repeat="(index, friend) in value.friends">
                        <a href="#">{{friend.id}} {{friend.name}}</a>
                      </li>
                    </ul>
                  </div>
                </td>
                <td ng-show="cols['address'].isSelected">
                  <address>
                    <strong>{{value.address.street}}</strong> {{value.address.city}} {{value.address.zip}}</br>
                    <abbr title="Phone">P:</abbr>{{value.phone}}
                  </address>
                </td>
              </tr>
            </tbody>
            <tfoot class="table-bg-color">
              <tr>
                <th ng-show="cols['id'].isSelected">id</th>
                <th ng-show="cols['balance'].isSelected">balance</th>
                <th ng-show="cols['age'].isSelected">age</th>
                <th ng-show="cols['name'].isSelected">name</th>
                <th ng-show="cols['company'].isSelected">company</th>
                <th ng-show="cols['email'].isSelected">email</th>
                <th ng-show="cols['friends'].isSelected">friends</th>
                <th ng-show="cols['address'].isSelected">address</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </tablecontainer>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="form-group">
          <label >table one HEIGHT setting</label>
          <input type="number" class="form-control" placeholder="height">
          <label >table one WIDTH setting</label>
          <input type="number" class="form-control" placeholder="width">
        </div>
      </form>
    </div>
  </div>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom" fixed-header-footer-bottom="fixedHeaderFooterBottomIds">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
          <input type="number" class="form-control" placeholder="height" ng-model="tableOne.height">height</input>
          <input type="number" class="form-control" placeholder="width" ng-model="tableOne.width">width</input>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</body>
</html>